#footer
{
    background-color: grey;
    height: 50px;
    bottom: 0%;
    display:  flex;
    justify-content: space-around;

    li{
        list-style: none;
        margin-right: 10px;
        
            a{
                text-decoration: none;
            }
        
    }
  
}