#footer {
  background-color: grey;
  height: 50px;
  bottom: 0%;
  display: flex;
  justify-content: space-around; }
  #footer li {
    list-style: none;
    margin-right: 10px; }
    #footer li a {
      text-decoration: none; }
